.colleges{
    margin: 100px auto 0 ;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-gap:50px;
    justify-content: center;
}

.filter-container{
    max-width: 1300px;
    margin: 80px auto 0 ;
    /* border: 1px solid; */
}

.filter-box{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    grid-gap:50px;
    justify-content: center;
    margin-bottom: 50px;
}

.lable{
    font-size: 18px;
    font-weight: 500;
}

.drop-down-menu{
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
    margin: 0 15px;
}

input.checkBox-style{

    border-radius: 3px;
    width: 40px;
    height: 40px;


}

.inputField{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-feild{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 992px) {

    .colleges{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-gap:50px;
        justify-content: center;
    }

    .filter-box{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-gap:50px;
        justify-content: space-around;
        margin-bottom: 50px;
    }
}


@media only screen and (max-width: 768px) {

    .colleges{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        grid-gap:20px;
        justify-content: center;
    }

    .filter-box{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        grid-gap:50px;
        justify-content: space-around;
        margin-bottom: 50px;
    }
}


@media only screen and (max-width: 600px) {

    .colleges{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        grid-gap:20px;
        justify-content: center;
    }

    .filter-box{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        grid-gap:50px;
        justify-content: space-around;
        margin-bottom: 50px;
    }
}

.category{
    cursor: pointer; 
}

.category h4{
    text-align: center;
}

.category:hover{
    transform: scale(1.02);
}