.colleges{
    margin: 100px auto 0 ;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-gap:50px;
    justify-content: center;
}

@media only screen and (max-width: 992px) {

    .colleges{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-gap:50px;
        justify-content: center;
    }
}


@media only screen and (max-width: 768px) {

    .colleges{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        grid-gap:20px;
        justify-content: center;
    }
}


@media only screen and (max-width: 600px) {

    .colleges{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        grid-gap:20px;
        justify-content: center;
    }
}

.category{
    cursor: pointer; 
}

.category h4{
    text-align: center;
}

.category:hover{
    transform: scale(1.02);
}